<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906321753759-9t0e85uk99h668d8linuhhmhbuiv0dov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906321753759-9t0e85uk99h668d8linuhhmhbuiv0dov</string>
	<key>API_KEY</key>
	<string>AIzaSyCskvabptmF8cc7FkWS5RsOTYOI6gX04JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>906321753759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shruezee.Ashtotra</string>
	<key>PROJECT_ID</key>
	<string>astotras</string>
	<key>STORAGE_BUCKET</key>
	<string>astotras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906321753759:ios:94e26ced2ece3103</string>
	<key>DATABASE_URL</key>
	<string>https://astotras.firebaseio.com</string>
</dict>
</plist>